.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/
.vscode/
runs/
*.pt
data/raw/*
data/datasets/*
!data/raw/.gitkeep
!data/datasets/.gitkeep
*.mp4
*.avi
*.webm
!data/samples/.gitkeep
outputs/**/*.mp4
outputs/**/*.avi
outputs/**/*.webm
docs/
scripts/
